<div>
    <h2 id="page-heading">
        <span jhiTranslate="coopcycleApp.restaurant.home.title">Restaurants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant" [routerLink]="['/restaurant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coopcycleApp.restaurant.home.createLabel">
            Create a new Restaurant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="restaurants?.length === 0">
        <span jhiTranslate="coopcycleApp.restaurant.home.notFound">No restaurants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="restaurants && restaurants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.restaurant.nomResto">Nom Resto</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.restaurant.fraisLivraison">Frais Livraison</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.restaurant.adresseResto">Adresse Resto</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.restaurant.codePResto">Code P Resto</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.restaurant.villeResto">Ville Resto</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurant of restaurants ;trackBy: trackId">
                    <td><a [routerLink]="['/restaurant', restaurant.id, 'view']">{{ restaurant.id }}</a></td>
                    <td>{{ restaurant.nomResto }}</td>
                    <td>{{ restaurant.fraisLivraison }}</td>
                    <td>{{ restaurant.adresseResto }}</td>
                    <td>{{ restaurant.codePResto }}</td>
                    <td>{{ restaurant.villeResto }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/restaurant', restaurant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/restaurant', restaurant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(restaurant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
