<div>
  <h2 id="page-heading" data-cy="SystemePaiementHeading">
    <span jhiTranslate="coopcycleApp.systemePaiement.home.title">Systeme Paiements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.systemePaiement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-systeme-paiement"
        [routerLink]="['/systeme-paiement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.systemePaiement.home.createLabel"> Create a new Systeme Paiement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="systemePaiements?.length === 0">
    <span jhiTranslate="coopcycleApp.systemePaiement.home.notFound">No systemePaiements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="systemePaiements && systemePaiements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.systemePaiement.numCarte">Num Carte</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.systemePaiement.dateExpiration">Date Expiration</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.systemePaiement.typeCarte">Type Carte</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.systemePaiement.montant">Montant</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.systemePaiement.dateFacture">Date Facture</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let systemePaiement of systemePaiements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/systeme-paiement', systemePaiement.id, 'view']">{{ systemePaiement.id }}</a>
          </td>
          <td>{{ systemePaiement.numCarte }}</td>
          <td>{{ systemePaiement.dateExpiration | formatMediumDatetime }}</td>
          <td>{{ systemePaiement.typeCarte }}</td>
          <td>{{ systemePaiement.montant }}</td>
          <td>{{ systemePaiement.dateFacture | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/systeme-paiement', systemePaiement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/systeme-paiement', systemePaiement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(systemePaiement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
