<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-panier-heading" data-cy="PanierCreateUpdateHeading" jhiTranslate="coopcycleApp.panier.home.createOrEditLabel">
        Create or edit a Panier
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="coopcycleApp.panier.prixTotal" for="field_prixTotal">Prix Total</label>
          <input type="text" class="form-control" name="prixTotal" id="field_prixTotal" data-cy="prixTotal" formControlName="prixTotal" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="coopcycleApp.panier.constituePar" for="field_constituePar">Constitue Par</label>
          <select class="form-control" id="field_constituePar" data-cy="constituePar" name="constituePar" formControlName="constituePar">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="compteOption.id === editForm.get('constituePar')!.value?.id ? editForm.get('constituePar')!.value : compteOption"
              *ngFor="let compteOption of comptesSharedCollection; trackBy: trackCompteById"
            >
              {{ compteOption.nom }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="coopcycleApp.panier.estValidePar" for="field_estValidePar">Est Valide Par</label>
          <select class="form-control" id="field_estValidePar" data-cy="estValidePar" name="estValidePar" formControlName="estValidePar">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                systemePaiementOption.id === editForm.get('estValidePar')!.value?.id
                  ? editForm.get('estValidePar')!.value
                  : systemePaiementOption
              "
              *ngFor="let systemePaiementOption of systemePaiementsSharedCollection; trackBy: trackSystemePaiementById"
            >
              {{ systemePaiementOption.numCarte }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
