<div>
  <h2 id="page-heading" data-cy="CompteHeading">
    <span jhiTranslate="coopcycleApp.compte.home.title">Comptes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.compte.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-compte"
        [routerLink]="['/compte/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.compte.home.createLabel"> Create a new Compte </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comptes?.length === 0">
    <span jhiTranslate="coopcycleApp.compte.home.notFound">No comptes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="comptes && comptes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.prenom">Prenom</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.email">Email</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.categorie">Categorie</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.phoneNumber">Phone Number</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.addressCompte">Address Compte</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.codePCompte">Code P Compte</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.villeCompte">Ville Compte</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.compte.membreDe">Membre De</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compte of comptes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/compte', compte.id, 'view']">{{ compte.id }}</a>
          </td>
          <td>{{ compte.nom }}</td>
          <td>{{ compte.prenom }}</td>
          <td>{{ compte.email }}</td>
          <td jhiTranslate="{{ 'coopcycleApp.Role.' + compte.categorie }}">{{ compte.categorie }}</td>
          <td>{{ compte.phoneNumber }}</td>
          <td>{{ compte.addressCompte }}</td>
          <td>{{ compte.codePCompte }}</td>
          <td>{{ compte.villeCompte }}</td>
          <td>
            <div *ngIf="compte.membreDe">
              <a [routerLink]="['/cooperative', compte.membreDe?.id, 'view']">{{ compte.membreDe?.nomCoop }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/compte', compte.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/compte', compte.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(compte)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
