<div>
    <h2 id="page-heading">
        <span jhiTranslate="coopcycleApp.panier.home.title">Paniers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-panier" [routerLink]="['/panier/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coopcycleApp.panier.home.createLabel">
            Create a new Panier
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paniers?.length === 0">
        <span jhiTranslate="coopcycleApp.panier.home.notFound">No paniers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paniers && paniers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.panier.prixTotal">Prix Total</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.panier.constituePar">Constitue Par</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.panier.estValidePar">Est Valide Par</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let panier of paniers ;trackBy: trackId">
                    <td><a [routerLink]="['/panier', panier.id, 'view']">{{ panier.id }}</a></td>
                    <td>{{ panier.prixTotal }}</td>
                    <td>
                        <div *ngIf="panier.constitueParId">
                            <a [routerLink]="['/compte', panier.constitueParId , 'view']" >{{ panier.constitueParNom }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="panier.estValideParId">
                            <a [routerLink]="['/systeme-paiement', panier.estValideParId , 'view']" >{{ panier.estValideParNumCarte }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/panier', panier.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/panier', panier.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(panier)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
