<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="panier">
            <h2><span jhiTranslate="coopcycleApp.panier.detail.title">Panier</span> {{ panier.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.panier.prixTotal">Prix Total</span></dt>
                <dd>
                    <span>{{ panier.prixTotal }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.panier.constituePar">Constitue Par</span></dt>
                <dd>
                    <div *ngIf="panier.constitueParId">
                        <a [routerLink]="['/compte', panier.constitueParId, 'view']">{{ panier.constitueParNom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.panier.estValidePar">Est Valide Par</span></dt>
                <dd>
                    <div *ngIf="panier.estValideParId">
                        <a [routerLink]="['/systeme-paiement', panier.estValideParId, 'view']">{{ panier.estValideParNumCarte }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/panier', panier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
