<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-panier-heading" jhiTranslate="coopcycleApp.panier.home.createOrEditLabel">Create or edit a Panier</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleApp.panier.prixTotal" for="field_prixTotal">Prix Total</label>
                    <input type="text" class="form-control" name="prixTotal" id="field_prixTotal"
                           formControlName="prixTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleApp.panier.constituePar" for="field_constituePar">Constitue Par</label>
                    <select class="form-control" id="field_constituePar" name="constituePar" formControlName="constitueParId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compteOption.id" *ngFor="let compteOption of comptes; trackBy: trackById">{{ compteOption.nom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleApp.panier.estValidePar" for="field_estValidePar">Est Valide Par</label>
                    <select class="form-control" id="field_estValidePar" name="estValidePar" formControlName="estValideParId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="systemePaiementOption.id" *ngFor="let systemePaiementOption of systemepaiements; trackBy: trackById">{{ systemePaiementOption.numCarte }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
