<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span jhiTranslate="coopcycleApp.course.detail.title">Course</span> {{ course.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.course.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ course.createdAt }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'coopcycleApp.EtatCourse.' + course.etat }}">{{ course.etat }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.startTime">Start Time</span></dt>
                <dd>
                    <span>{{ course.startTime }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.endTime">End Time</span></dt>
                <dd>
                    <span>{{ course.endTime }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.montant">Montant</span></dt>
                <dd>
                    <div *ngIf="course.montantId">
                        <a [routerLink]="['/panier', course.montantId, 'view']">{{ course.montantPrixTotal }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.plat">Plat</span></dt>
                <dd>
                    <span *ngFor="let plat of course.plats; let last = last">
                        <a [routerLink]="['/plat', plat?.id, 'view']">{{ plat.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.livrePar">Livre Par</span></dt>
                <dd>
                    <div *ngIf="course.livreParId">
                        <a [routerLink]="['/compte', course.livreParId, 'view']">{{ course.livreParNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
