<div>
    <h2 id="page-heading">
        <span jhiTranslate="coopcycleApp.course.home.title">Courses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course" [routerLink]="['/course/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coopcycleApp.course.home.createLabel">
            Create a new Course
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
        <span jhiTranslate="coopcycleApp.course.home.notFound">No courses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="courses && courses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.course.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.course.etat">Etat</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.course.startTime">Start Time</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.course.endTime">End Time</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.course.montant">Montant</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.course.plat">Plat</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.course.livrePar">Livre Par</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses ;trackBy: trackId">
                    <td><a [routerLink]="['/course', course.id, 'view']">{{ course.id }}</a></td>
                    <td>{{ course.createdAt | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'coopcycleApp.EtatCourse.' + course.etat }}">{{ course.etat }}</td>
                    <td>{{ course.startTime | date:'medium' }}</td>
                    <td>{{ course.endTime | date:'medium' }}</td>
                    <td>
                        <div *ngIf="course.montantId">
                            <a [routerLink]="['/panier', course.montantId , 'view']" >{{ course.montantPrixTotal }}</a>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let plat of course.plats; let last = last">
                            <a class="form-control-static" [routerLink]="['/plat', plat?.id, 'view']">{{ plat.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="course.livreParId">
                            <a [routerLink]="['/compte', course.livreParId , 'view']" >{{ course.livreParNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/course', course.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/course', course.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(course)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
