<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="compte">
      <h2 data-cy="compteDetailsHeading"><span jhiTranslate="coopcycleApp.compte.detail.title">Compte</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ compte.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.nom">Nom</span></dt>
        <dd>
          <span>{{ compte.nom }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.prenom">Prenom</span></dt>
        <dd>
          <span>{{ compte.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.email">Email</span></dt>
        <dd>
          <span>{{ compte.email }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.categorie">Categorie</span></dt>
        <dd>
          <span jhiTranslate="{{ 'coopcycleApp.Role.' + compte.categorie }}">{{ compte.categorie }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ compte.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.addressCompte">Address Compte</span></dt>
        <dd>
          <span>{{ compte.addressCompte }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.codePCompte">Code P Compte</span></dt>
        <dd>
          <span>{{ compte.codePCompte }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.villeCompte">Ville Compte</span></dt>
        <dd>
          <span>{{ compte.villeCompte }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.compte.membreDe">Membre De</span></dt>
        <dd>
          <div *ngIf="compte.membreDe">
            <a [routerLink]="['/cooperative', compte.membreDe?.id, 'view']">{{ compte.membreDe?.nomCoop }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compte', compte.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
<div>
  <h1>Le QrCode</h1>
  <script>
    var url = document.location.href;
    //document.write('<a href="' + loc + '">Google</a>');
    document.write('<qr-code [value]="' + url + '" [size]="150"></qr-code>');
  </script>
</div>
