<div>
    <h2 id="page-heading">
        <span jhiTranslate="coopcycleApp.cooperative.home.title">Cooperatives</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cooperative" [routerLink]="['/cooperative/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coopcycleApp.cooperative.home.createLabel">
            Create a new Cooperative
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cooperatives?.length === 0">
        <span jhiTranslate="coopcycleApp.cooperative.home.notFound">No cooperatives found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cooperatives && cooperatives.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.cooperative.nomCoop">Nom Coop</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.cooperative.villeCoop">Ville Coop</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cooperative of cooperatives ;trackBy: trackId">
                    <td><a [routerLink]="['/cooperative', cooperative.id, 'view']">{{ cooperative.id }}</a></td>
                    <td>{{ cooperative.nomCoop }}</td>
                    <td>{{ cooperative.villeCoop }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cooperative', cooperative.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cooperative', cooperative.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cooperative)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
