<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cooperative">
            <h2><span jhiTranslate="coopcycleApp.cooperative.detail.title">Cooperative</span> {{ cooperative.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.cooperative.nomCoop">Nom Coop</span></dt>
                <dd>
                    <span>{{ cooperative.nomCoop }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.cooperative.villeCoop">Ville Coop</span></dt>
                <dd>
                    <span>{{ cooperative.villeCoop }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cooperative', cooperative.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
