<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="panier">
      <h2 data-cy="panierDetailsHeading"><span jhiTranslate="coopcycleApp.panier.detail.title">Panier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ panier.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.panier.prixTotal">Prix Total</span></dt>
        <dd>
          <span>{{ panier.prixTotal }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.panier.constituePar">Constitue Par</span></dt>
        <dd>
          <div *ngIf="panier.constituePar">
            <a [routerLink]="['/compte', panier.constituePar?.id, 'view']">{{ panier.constituePar?.nom }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.panier.estValidePar">Est Valide Par</span></dt>
        <dd>
          <div *ngIf="panier.estValidePar">
            <a [routerLink]="['/systeme-paiement', panier.estValidePar?.id, 'view']">{{ panier.estValidePar?.numCarte }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/panier', panier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
<div>
  <h1>Le QrCode</h1>
  <script>
    var url = document.location.href;
    //document.write('<a href="' + loc + '">Google</a>');
    document.write('<qr-code [value]="' + url + '" [size]="150"></qr-code>');
  </script>
</div>
